@font-face {
    font-family: 'Nunito-Regular';
    src: url('./fonts/Nunito-Regular.ttf') format('ttf');
    font-family: 'Nunito-Bold';
    src: url('./fonts/Nunito-Bold.ttf') format('ttf');
}

:root {
    --dark-blue: #5680e9;
    --green-blue: #84ceeb;
    --lighter-blue: #5ab9ea;
    --gray: #c1c8e4;
    --violet: #8860d0;
    --to-do-bg: #e0e4f6;
    --active-project: #a4a8bc;
    --success: #42ba96;
    --danger: #f05b5b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Nunito-Regular';
}

html,
body {
    height: 100vh;
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-container {
    height: 900px;
    width: 1000px;
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
}

#project-container {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#project-header-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 300px;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    background-color: var(--dark-blue);
}

#new-project-btn-container {
    margin-top: auto;
}

#to-do-section-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}

#project-title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid black;
    border-top-right-radius: 10px;
    background-color: var(--dark-blue);
}

#to-do-container {
    width: 100%;
    padding: 0 25px;
}

.project-header {
    margin: 0;
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 28px;
}
.project-title {
    margin: 0;
    font-family: 'Nunito-Bold';
    font-size: 28px;
    text-align: center;
}

.project {
    font-size: 28px;
    padding: 10px;
    transition: all 0.125s ease-in;
}

.project:hover {
    cursor: pointer;
    background-color: var(--lighter-blue);
}

.active-project {
    background: var(--lighter-blue);
}

.new-project-btn {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--success);
    opacity: 0.7;
}

.new-project-btn:hover {
    opacity: 1;
}

.to-do {
    width: 100%;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(218, 217, 217, 0.7);
    list-style-type: none;
}

.to-do-delete-btn {
    display: none;
    height: 25px;
    width: 75px;
    margin-left: auto;
    margin-right: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: var(--danger);
    border-radius: 5px;
    opacity: 0.75;
}

.to-do-delete-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.to-do:hover > .to-do-delete-btn {
    display: block;
}

.new-to-do-div {
    width: 100%;
    height: 40px;
    font-size: 18px;
    display: flex;
}

.new-to-do-div-expanded {
    margin-top: 5px;
    height: 150px;
    border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.new-to-do-symbol {
    position: relative;
    right: 3px;
    top: 4px;
    margin-right: 15px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.new-to-do-div:hover > .new-to-do-symbol {
    background-color: var(--dark-blue);
    cursor: pointer;
    color: white;
}

.new-to-do-input-title,
.new-to-do-input-description {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--gray);
}

input.to-do-checkbox {
    margin-right: 15px;
    margin-left: 0;
    width: 20px;
    height: 20px;
}

.new-to-do-input-container {
    display: flex;
}

.new-to-do-input-due-date {
    margin-top: 20px;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    margin-right: 20px;
}

.new-to-do-save-btn,
.new-to-do-cancel-btn {
    margin-top: 15px;
    height: 50px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.new-to-do-save-btn:hover,
.new-to-do-cancel-btn:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.new-to-do-save-btn {
    background-color: var(--danger);
    border: 1px solid black;
}

.new-to-do-cancel-btn {
    background-color: var(--to-do-bg);
    border: 1px solid black;
    margin-left: 15px;
}

/* *******OVERLAY********** */

#overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 500px;
    background-color: var(--to-do-bg);
    border-radius: 10px;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlay-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title-input,
#due-date-input,
#priority-input {
    height: 50px;
    width: 450px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

#description-input {
    height: 200px;
    width: 450px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

#overlay-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#overlay-form-submit-btn,
#overlay-form-cancel-btn {
    height: 50px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

#overlay-form-cancel-btn:hover,
#overlay-form-submit-btn:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#overlay-form-submit-btn {
    background-color: var(--danger);
}

#overlay-form-cancel-btn {
    background-color: var(--to-do-bg);
    border: 1px solid black;
}

.overlay-form-submit-btn {
    height: 50;
    width: 100px;
    margin-top: auto;
    font-size: 24;
}
