@font-face {
    font-family: 'Nunito-Regular';
    src: url('./fonts/Nunito-Regular.ttf') format('ttf');
}

:root {
    --dark-blue: #5680e9;
    --green-blue: #84ceeb;
    --lighter-blue: #5ab9ea;
    --gray: #c1c8e4;
    --violet: #8860d0;
    --to-do-bg: #e0e4f6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Nunito-Regular';
}

html,
body {
    height: 100vh;
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-container {
    height: 900px;
    width: 1880px;
    display: flex;
    background-color: var(--gray);
    border-radius: 10px;
}

#project-container {
    height: 100%;
    width: 300px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

#project-header-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 300px;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.5);
}

#to-do-section-container {
    width: 100%;
    height: 100%;
}

#project-title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

#to-do-container {
    width: 100%;
    margin-top: 20px;
}

.project-header {
    margin: 0;
    text-align: center;
    font-size: 28px;
}
.project-title {
    margin: 0;
    font-size: 28px;
    text-align: center;
}

.to-do {
    width: 100%;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--to-do-bg);
    border-bottom: 1px solid rgba(218, 217, 217, 0.7);
    list-style-type: none;
}
